  {{> header}}
<div class="row form-layout p-5">
            <div class="col-md-12">
                <div class="recepieInfo">
                    <div class="detailsFoodImage">
                        <img id="imageOne" src="{{ currRecipe.foodImageURL }}"
                            alt="">
                    <button class="btn-change-pic" id="change-pic-left" onclick="clickLeft()"><</button>
                    <button class="btn-change-pic" id="change-pic-right" onclick="clickRight()">></button>
                    </div>
                    <div class="infoPack">
                        <h3 class="my-3">{{ currRecipe.meal }}</h3>
                         <div class="divCookScale"> 
                        <p class="goldStars">{{currRecipe.stars}}</p>
                        <p class="whiteStars">{{currRecipe.whiteStars}}</p>
                        </div>
                        <p class="prep-method">{{ currRecipe.prepMethod }}</p>
                        <p class="description">*** {{ currRecipe.description }}***</p>
                    </div>
                    <div class="actions">
                        {{#if isCreator}}
                        <a class="btn btn-danger" href="#/archive/{{currRecipe.id}}">Archive</a>
                        <a class="btn btn-info" href="#/edit/{{currRecipe.id}}">Edit</a>
                        {{else}}
                        <a class="btn btn-success" href="#/like/{{currRecipe.id}}"> {{currRecipe.likesCounter}} likes</a>
                        {{/if}}
                    </div>
                </div>

                <div class="detailsIngredients">
                    <h3 class="my-3 ingredient">Ingredients</h3>
                    <ul>
                        {{#each currRecipe.ingrArr }}
                        <li>{{ ingr }}</li>
                        {{/each}}
                    </ul>
                </div>
                
            </div>
        </div>
  {{> footer}}
<script>
    function clickLeft(e){
        let im=document.getElementById('imageOne');
        im.setAttribute('src', `{{ currRecipe.foodImageURL }}`);
        }
    function clickRight(e){
        let im=document.getElementById('imageOne');
        im.setAttribute('src', `https://ichef.bbci.co.uk/news/976/cpsprodpb/ED96/production/_113922806_2016.33l.jpg`);
    }
</script>