  {{> header}}
            <div class="details-container">
                <div class="recepieInfo">
                    <h3 class="details-recipe-name">{{ currRecipe.meal }}</h3>
                    <div class="divCookScale"> 
                            <p class="goldStars">{{currRecipe.stars}}</p>
                            <p class="whiteStars">{{currRecipe.whiteStars}}</p>
                    </div>
                    <div class="image-and-ingredients">
                        <div class="detailsFoodImage">
                                <img id="imageOne" src="{{ currRecipe.foodImageURL }}"alt="">
                                <br>
                            {{!-- <div class="btn-change-pic">
                                <button id="change-pic-left" onclick="clickLeft()"><</button>
                                <button id="change-pic-right" onclick="clickRight()">></button>
                            </div> --}}
                        </div>
                        <div class="detailsIngredients">
                            <h3 class="ingredients-heading">Ingredients</h3>
                            <ul class="list-ingredients">
                                {{#each currRecipe.ingrArr }}
                                <li>{{ ingr }}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="infoPack">
                        <div>
                            <p class="prep-method">{{ currRecipe.prepMethod }}</p>
                            <p class="description">*** {{ currRecipe.description }}***</p>
                        </div>
                    </div>
                    <div class="actions">
                        {{#if isCreator}}
                        <a class="button-archive" href="#/archive/{{currRecipe.id}}">Archive</a>
                        <a class="button-edit" href="#/edit/{{currRecipe.id}}">Edit</a>
                        {{else}}
                        <a class="button-like" href="#/like/{{currRecipe.id}}"> {{currRecipe.likesCounter}} likes</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            
  {{> footer}}
<script>
    function clickLeft(e){
        let im=document.getElementById('imageOne');
        im.setAttribute('src', `{{ currRecipe.foodImageURL }}`);
        }
    function clickRight(e){
        let im=document.getElementById('imageOne');
        im.setAttribute('src', `https://ichef.bbci.co.uk/news/976/cpsprodpb/ED96/production/_113922806_2016.33l.jpg`);
    }
</script>