  {{> header}}
<form class="form-edit-recipe" action="#/edit/{{currRecipe.id}}" method="POST" id="edit-receipt-form">
            <p class="form-edit-recipe-heading">Edit Recipe</p>
        
            <input type="text" id="defaultRecepieEditMeal" name="meal" class="form-edit-recipe-input" placeholder="Meal"
                value="{{currRecipe.meal}}">
        
            <input type="text" id="defaultRecepieEditIngredients" name="ingredients" class="form-edit-recipe-input"
                placeholder="Ingredients" value="{{currRecipe.ingredients}}">
        
            <textarea type="text" id="defaultRecepieEditMethodOfPreparation" name="prepMethod" class="form-edit-recipe-input"
                placeholder="Method of preparation">{{currRecipe.prepMethod}}</textarea>
        
            <textarea type="text" id="defaultRecepieEditDescription" name="description" class="form-edit-recipe-input"
                placeholder="Description">{{currRecipe.description}}</textarea>
        
            <input type="text" id="defaultRecepieEditFoodImageURL" name="foodImageURL" class="form-edit-recipe-input"
                placeholder="Food Image URL..." value="{{currRecipe.foodImageURL}}">

            <label for="cookScale"> Recookable scale</label><br>
                <span class="scale">Never again</span>
                <input id="cookScale" name="cookScale" type="range" min="0" max="10" step="1">
            <span class="scale">Favorite</span>
        
            <select name="category">
                <option selected>Select category...</option>
                <option>Vegetables and legumes/beans</option>
                <option>Fruits</option>
                <option>Grain Food</option>
                <option>Milk, cheese, eggs and alternatives</option>
                <option>Lean meats and poultry, fish and alternatives</option>
            </select>
            <button class="form-edit-button" type="submit">Edit it</button>
        
        </form>
  {{> footer}}
